<div id="doc-form" class="md:px-48 pt-8">
    <form action="/addnoti" method="post" class="flex flex-col items-center">
        {{!-- <center class="text-xl font-semibold mb-3">Add Document</center> --}}

        <div class="mb-4 flex">
            <label for="university-select" class="block mr-3 font-bold">University</label>
            <select name="universityname" id="university-select" class="border border-gray-400 px-4 py-2 rounded w-64">
                {{!-- <option value="null">Select University</option> --}}
                {{#each university}}
                <option value="{{this.funiname}}">{{this.uniname}}</option>
                {{/each}}
            </select>
        </div>
        <div class="mb-4 flex">
            <label for="title" class="block mr-3 font-bold">Title:</label>
            <input type="text" name="title" id="doc-name" class="border border-gray-400 px-4 py-2 rounded w-64">
        </div>

        <div class="mb-4 flex">
            <label for="doc-desc" class="block mr-3 font-bold">Description:</label>
            <input type="text" name="desc" id="doc-desc" class="border border-gray-400 px-4 py-2 rounded w-64">
        </div>
        <div class="mb-4 flex">
            <label for="doc-desc" class="block mr-3 font-bold">Image:</label>
            <input type="text" name="image" id="doc-desc" class="border border-gray-400 px-4 py-2 rounded w-64">
        </div>

        <div class="mb-4 flex">
            <label for="link" class="block mr-3 font-bold">Link:</label>
            <input type="text" name="link" id="link" class="border border-gray-400 px-4 py-2 rounded w-64">
        </div>
        <div class="flex">
            <div class="">
                <button type="submit" id="submit-button"
                    class="bg-blue-500 text-white px-4 py-2 rounded">Submit</button>
            </div>
        </div>

        <div class="m-5 w-16 h-16">

        </div>

    </form>
</div>

<div class="md:px-16">
    <table class="min-w-full divide-y divide-gray-200 mt-12">
        <thead class="bg-gray-50">
            <tr>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    No
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Link</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Image</th>

                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Description</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    University</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Actions</th>
            </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200">
            {{#each data}}
            <tr>
                <td class="px-6 py-4 whitespace-nowrap">{{@index}}</td>
                <td class="px-6 py-4 whitespace-nowrap"><a href="{{this.link}}" target="_blank"
                        class="text-blue-500 underline">{{this.title}}</a></td>
                <td class="px-6 py-4 whitespace-nowrap"><img width="40" height="40" src="{{this.image}}" target="_blank"
                        class="text-blue-500 underline"></img></td>
                <td class="px-6 py-4 whitespace-nowrap">{{this.desc}}</td>
                <td class="px-6 py-4 whitespace-nowrap">{{this.universityname}}</td>
                <td class="px-6 py-4 whitespace-nowrap">
                    <a href="/noti/delete/{{this._id}}" class="text-red-500 hover:text-red-700">Delete</a>
                </td>
            </tr>
            {{/each}}
            <!-- Add more table rows as needed -->
        </tbody>
    </table>
</div>