<script>
    document.addEventListener("DOMContentLoaded", getSubjectlist);

    async function getSubjectlist() {
        console.log("get subject list");

        const subjectSelect = document.getElementById('subject-select');
        subjectSelect.innerHTML = '';

        const nullOption = document.createElement('option');
        nullOption.value = 'null';
        nullOption.textContent = 'Select Subject';

        const CommonCourseEnglish = document.createElement('option');
        CommonCourseEnglish.value = 'common-course-english';
        CommonCourseEnglish.textContent = 'Common Course English';

        const ComplementeryCourse = document.createElement('option');
        ComplementeryCourse.value = 'complementery-course';
        ComplementeryCourse.textContent = 'Complementery Course';

        const CoreCourse = document.createElement('option');
        CoreCourse.value = 'core-course';
        CoreCourse.textContent = 'Core Course';

        const CommonCourseOther = document.createElement('option');
        CommonCourseOther.value = 'common-course-other';
        CommonCourseOther.textContent = 'Common Course Other';

        const OpenCourse = document.createElement('option');
        OpenCourse.value = 'open-course';
        OpenCourse.textContent = 'Open Course';


        subjectSelect.appendChild(nullOption);
        subjectSelect.appendChild(CommonCourseEnglish);
        subjectSelect.appendChild(CommonCourseOther);
        subjectSelect.appendChild(CoreCourse);
        subjectSelect.appendChild(ComplementeryCourse);
        subjectSelect.appendChild(OpenCourse);


        // subjects.forEach((subject) => {
        // const option = document.createElement('option');
        // option.value = subject.fsubjectname;
        //  option.textContent = subject.subjectname;
        //    subjectSelect.appendChild(option);
        // });
    }
</script>
<div id="doc-form" class="md:px-48 pt-8">
    <form action="/addvideo" method="post" class="flex flex-col items-center">
        {{!-- <center class="text-xl font-semibold mb-3">Add Document</center> --}}

        <div class="mb-4 flex">
            <label for="university-select" class="block mr-3 font-bold">University</label>
            <select name="universityname" id="university-select" onchange="getSubjectlist()"
                class="border border-gray-400 px-4 py-2 rounded w-64">
                {{!-- <option value="null">Select University</option> --}}

                {{#each university}}
                <option value="{{this.funiname}}">{{this.uniname}}</option>
                {{/each}}
            </select>
        </div>
        <div class="mb-4 flex">
            <label for="course-select" class="block mr-3 font-bold">Course:</label>
            <select name="coursename" id="course-select" onchange="getSubjectlist()"
                class="border border-gray-400 px-4 py-2 rounded w-64">
                <option value="null">Select Course</option>

                {{#each course}}
                <option value="{{this.fcoursename}}">{{this.coursename}}</option>
                {{/each}}
            </select>
        </div>

        <div class="mb-4 flex">
            <label for="semester-select" class="block mr-3 font-bold">Semester:</label>
            <select name="semestername" id="semester-select" onchange="getSubjectlist()"
                class="border border-gray-400 px-4 py-2 rounded w-64">
                <option value="null">Select Semester</option>
                {{#each semester}}
                <option value="{{this.fsemestername}}">{{this.semestername}}</option>
                {{/each}}
            </select>
        </div>

        <div class="mb-4 flex">
            <label for="subject-select" class="block mr-3 font-bold">Subject:</label>
            <div class="flex flex-col">

                <select name="subjectname" id="subject-select" class="border border-gray-400 px-4 py-2 rounded w-64">
                    <option value="null">Select Subject</option>
                    {{#each subject}}
                    <option value="{{this.fsubjectname}}">{{this.subjectname}}</option>
                    {{/each}}
                </select>
                {{!-- <input type="text" name="newsubject" id="newsubject-name"
                    class="m-2 border border-gray-400 px-4 py-2 rounded w-64" placeholder="New Subject"> --}}
            </div>
        </div>

        {{!-- <div class="mb-4 flex">
            <label for="module-select" class="block mr-3 font-bold">Module:</label>
            <select name="modulename" id="module-select" class="border border-gray-400 px-4 py-2 rounded w-64">
                <option value="all-module">Select Module</option>
                {{#each module}}
                <option value="{{this.fmodulename}}">{{this.modulename}}</option>
                {{/each}}
            </select>
        </div> --}}
        <input type="text" name="modulename" id="module-select" value="all-module" hidden>
        <input type="text" name="categoryname" id="category-select" value="videos" hidden>

        {{!-- <div class="mb-4 flex col-span-1">
            <label for="category-select" class="block mr-3 font-bold">Category:</label>
            <select name="categoryname" id="category-select" class="border border-gray-400 px-4 py-2 rounded w-64">
                <option value="null">Select Category</option>
                {{#each category}}
                <option value="{{this.fcategoryname}}">{{this.categoryname}}</option>
                {{/each}}
            </select>
        </div> --}}


        <div class="mb-4 flex ">
            <div class="">
                <div class="mb-4 flex">
                    <label for="document-title" class="block mr-3 font-bold">Title:</label>
                    <input type="text" name="videotitle" id="video-name"
                        class="border border-gray-400 px-4 py-2 rounded w-64">
                </div>
                <div class="mb-4 flex">
                    <label for="document-title" class="block mr-3 font-bold">Link:</label>
                    <input type="text" name="videolink" id="video-link"
                        class="border border-gray-400 px-4 py-2 rounded w-64">
                </div>
            </div>
        </div>
        <div class="flex">

            <div class="">
                <button type="button" id="submit-button"
                    class="bg-blue-500 text-white px-4 py-2 rounded">Submit</button>
            </div>
        </div>

        <div class="m-5 w-16 h-16">

        </div>

    </form>

    <table class="min-w-full divide-y divide-gray-200 mt-12 ">
        <thead class="bg-gray-50">
            <tr>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    No
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Doc</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Category </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    University</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Course</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Semester</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Subject</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Module</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Actions</th>
            </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200">
            {{#each video}}
            <tr>
                <td class="px-6 py-4 whitespace-nowrap">{{@index}}</td>
                <td class="px-6 py-4 whitespace-nowrap"><a href="{{this.videolink}}" target="_blank"
                        class="text-blue-500 underline">{{this.videoname}}</a></td>
                <td class="px-6 py-4 whitespace-nowrap">{{this.categoryname}}</td>
                <td class="px-6 py-4 whitespace-nowrap">{{this.universityname}}</td>
                <td class="px-6 py-4 whitespace-nowrap">{{this.coursename}}</td>
                <td class="px-6 py-4 whitespace-nowrap">{{this.semestername}}</td>
                <td class="px-6 py-4 whitespace-nowrap">{{this.subjectname}}</td>
                <td class="px-6 py-4 whitespace-nowrap">{{this.modulename}}</td>
                <td class="px-6 py-4 whitespace-nowrap">
                    <a href="/video/delete/{{this._id}}" class="text-red-500 hover:text-red-700">Delete</a>
                </td>
            </tr>
            {{/each}}
            <!-- Add more table rows as needed -->
        </tbody>
    </table>
</div>


<script>
    $("button").click(async function () {
        console.log(' called'); 0
        let universityname = document.getElementById('university-select').value;
        let coursename = document.getElementById('course-select').value;
        let semestername = document.getElementById('semester-select').value;
        let subjectname = document.getElementById('subject-select').value;
        let modulename = document.getElementById('module-select').value;
        let categoryname = document.getElementById('category-select').value;
        let videoname = document.getElementById('video-name').value;
        let videolink = document.getElementById('video-link').value;

        console.log(universityname, coursename, categoryname, modulename, subjectname, videoname, videolink)


        $.post("/addvideo",
            {
                universityname: universityname,
                coursename: coursename,
                semestername: semestername,
                subjectname: subjectname,
                modulename: modulename,
                categoryname: categoryname,
                videoname: videoname,
                videolink: videolink
            },);
        alert('added');
    }
    );
</script>