<div class="md:px-16">
    <table class="min-w-full divide-y divide-gray-200 mt-12">
        <thead class="bg-gray-50">
            <tr>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    No
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Link</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Title</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Description</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Actions</th>
            </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200">
            {{#each data}}
            <tr>
                <td class="px-6 py-4 whitespace-nowrap">{{@index}}</td>
                <td class="px-6 py-4 whitespace-nowrap"><a href="{{this.link}}" target="_blank"
                        class="text-blue-500 underline">{{this.link}}</a></td>
                <td class="px-6 py-4 whitespace-nowrap">{{this.title}}</td>
                <td class="px-6 py-4 whitespace-nowrap">{{this.desc}}</td>
                <td class="px-6 py-4 whitespace-nowrap">
                    <a href="/noti/delete/{{this._id}}" class="text-red-500 hover:text-red-700">Delete</a>
                </td>
            </tr>
            {{/each}}
            <!-- Add more table rows as needed -->
        </tbody>
    </table>
</div>